<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="txUsuario" value="MONHDRS03" />
    <add key="txtPassword" value="123" />
    <add key="Page" value="https://portal.gsi.com.mx:8443/portal_desa/Logout.do" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ExtraerDatosHidrosinaEntities" connectionString="metadata=res://*/Model.ExtraerDatosHidrosina.csdl|res://*/Model.ExtraerDatosHidrosina.ssdl|res://*/Model.ExtraerDatosHidrosina.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CMANUEL\SQLEXPRESS;initial catalog=ExtraerDatosHidrosina;persist security info=True;user id=Cristian;password=esAdmIN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExtraerDatosHidrosina" connectionString="Data Source=CMANUEL\SQLEXPRESS;Initial Catalog=ExtraerDatosHidrosina;Persist Security Info=True;User ID=Cristian;Password=esAdmIN" />
  </connectionStrings>
</configuration>