<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="txUsuario" value="MONHDRS03" />
      <add key="txtPassword" value="123" />
      <add key="Page" value="https://portal.gsi.com.mx:8443/portal_desa/Logout.do" />
    </appSettings>
    <system.web>
      <sessionState mode="InProc"
                    cookieless="true"
                    timeout="50">
      </sessionState>
    </system.web>
      
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ExtraerDatosHidrosinaEntities" connectionString="metadata=res://*/Model.ExtraerDatosHidrosina.csdl|res://*/Model.ExtraerDatosHidrosina.ssdl|res://*/Model.ExtraerDatosHidrosina.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CMANUEL\SQLEXPRESS;initial catalog=ExtraerDatosHidrosina;persist security info=True;user id=Cristian;password=esAdmIN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExtraerDatosHidrosina" connectionString="Data Source=CMANUEL\SQLEXPRESS;Initial Catalog=ExtraerDatosHidrosina;Persist Security Info=True;User ID=Cristian;Password=esAdmIN" />
  </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

</configuration>