<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EO.WebBrowser" version="22.2.49" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net461" />
  <package id="Selenium.Support" version="4.4.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.4.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="105.0.5195.5200" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net461" />
</packages>